<div class="banner-confirmation-order" style="background-image:
 url(<%= image_path 'plein.png' %>);">


    <div class="card_inscription">
       <h2 style="color: #518CE4 "><strong>Inscription</strong></h2>
   <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-row">
    <div class="col-xs-12 col-md-6">
           <%= f.input :email,
                required: true,
                autofocus: true ,
                 placeholder: "jepaiemestimbres@gmail.com",
                input_html: { autocomplete: "email" }%>
    </div>


    <div class="col-xs-12 col-md-6">
    <%= f.input :name, label: "Nom"%>
      </div>


        <div class="col-xs-12">
            <%= f.input :password,
                required: true,
                label: "Mot de passe",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="col-xs-12">
          <%= f.input :password_confirmation,
                      label: "Confirmation du mot de passe",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

          <div class="col-xs-12">
          <%= f.input :entreprise %>
           </div>
           <div class="col-xs-12">
          <%= f.input :address, label: "Adresse" %>
              </div>
          <div class="col-xs-12">
          <%= f.input :siret %>
          </div>
        </div>
        <div class="form-actions">
      <%= f.button :submit, "S'inscrire", class: "btn-inscription"%>
    </div>
  </div>


<% end %>
<div class="blanco">
<strong> <%= render "devise/shared/links" %> </strong>
</div>
</div>





<!-- Modal -->



