<div class="footer">
  <div class="foot-image">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", height: 80 %>
    <% end %>
    <p>©2018 Timply</p>
  </div>
  <div class="footer-service">
    <ul>
      <h6><strong>NOTRE SERVICE </strong></h6>
      <li><%= link_to 'Nos packs',packs_path %> </li>
      <li>Nos tarifs</li>
    </ul>
  </div>
  <div class="a-propos">
    <ul>
      <h6><strong> A PROPOS </strong></h6>
      <li>     <%= link_to 'Notre mission', apropos_path %></li>
      <li><%= link_to 'Mentions légales', mentionslegales_path %> </li>
    </ul>
  </div>
  <div class="liens-utiles">
    <ul>
      <h6><strong>LIENS UTILES </strong></h6>
      <li><a href="http://www.estrepublicain.fr/insolite/2012/01/10/en-franc-mais-toujours-valables" target="_blank">Timbres de collections </a></li>
      <li><%= link_to 'Accéder à mes commandes', dashboard_path %></li>
        <li><a href="https://fr.depositphotos.com/194625712/stock-illustration-international-standard-envelopes-for-paper.html" target="_blank">Formats d'enveloppes </a></li>
    </ul>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
