<div class="body" style="background-color: #ffffff">
  <hr>
  <div class="text-center">
    <h1>Admin Dashboard</h1>
  </div>
  <form>
  <div class="row mx-5">
    <div class="col">
    <select class="form-control" id="exampleFormControlSelect1" name='status' placeholder="Par status">
      <option>all</option>
      <option>pending</option>
      <option>paid</option>
    </select>
    </div>
    <div class="col">
      <input type="text" name="query" class="form-control" placeholder="Par Nom ou Email">
    </div>
  <button type="submit" class="btn btn-primary mb-2">Trier</button>
  </div>
</form>
  <% @orders.each do |order| %>
    <div class="dashboard_card">
      <p><%= order.id %></p>
      <p><%= order.user_id %></p>
      <p><%= order.user.email %></p>
     <p> <%= order.created_at.strftime("%d-%m-%Y") %> </p>
      <p><%= order.user.name  %></p>
      <p><%= order.user.entreprise%></p>
      <p>  <%= order.format %> </p>

      <p><%= order.state %></p>
      <p><%= order.price %>€</p>
      <p><%= link_to "Tracking Number: #{order.tracking}", edit_order_path(order) %></p>
      <p><%= link_to "Effacer la commande", order_path(order), method: :delete  if order.state == 'pending'%></p>
    </div>
    <hr>
  <% end %>
</div>
