

<div class="banner-confirmation-order" style="background-image:
 url(<%= image_path 'plein.png' %>);">

      <div class="card_order">

              <div class="line_confirmation">

                 <p>Numéro de commande:  #<%= @order.id %></p>
                 <p>Date de la commande: <%=Time.now.strftime("%d/%m/%Y")%></p>
                <p> <%=@order.user.name %></p>
                <p> <%=@order.user.address %></p>
                <p> <%=@order.user.entreprise %></p>
              </div>
              <div class="line_confirmation">
                <p>  <%= @order.pack_sku %></p>
                <p> <%= @order.quantity  %> enveloppes</p>
                <p> <%= @order.weight %> </p>
              </div>
              <div class="redirection">
               <p> <%= link_to "Voir mes commandes", dashboard_path %> </p>
               <p> <%= link_to "Retour aux packs", dashboard_path %> </p>
               </div>
            </div>
           </div>
          </div>






