

<div class="banner-confirmation-order" style="background-image:
 url(<%= image_path 'plein.png' %>);">

       <div class="card_confirm_order2">
            <h3> Merci pour votre commande! </h3>
            <p>Votre pack vous sera livré d'ici 2 à 3 jours</p>
            <h4 style="color: #518CE4; margin-bottom: 7%;"> <strong> <%= @order.price %>€</strong></h4>
            <div class="card_recapitulatif2">
              <div class="line_confirmation">

                 <p>Numéro de commande:  #<%= @order.id %></p>
                 <p>Date de la commande: <%=Time.now.strftime("%d/%m/%Y")%></p>
                <p> <%=@order.user.name %></p>
                <p> <%=@order.user.address %></p>
                <p> <%=@order.user.entreprise %></p>
              </div>
              <div class="line_confirmation">
                <p>  <%= @order.pack_sku %></p>
                <p> <%= @order.quantity  %> enveloppes</p>
                <p> <%= @order.weight %> </p>
              </div>
              <div class="redirection">
               <p> <%= link_to "Voir mes commandes", dashboard_path %> </p>
               <p> <%= link_to "Retour aux packs", dashboard_path %> </p>
               </div>
            </div>
           </div>
          </div>






