<div class="banner-order" style="background: linear-gradient(#0052D4, #4364F7,#6FB1FC);">
  <div class="container text-center">
    <div class="margin">
      <div class="row1">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="card_order">
            <h3 style="color: #518CE4  "> <%= humanized_money_with_symbol(@order.price) %></h3>
            <div class="line_category">
              <p><strong><%= @order.category  %></strong> </p>
            </div>
            <div >
              <p> <strong>Quantité:</strong> <%= @order.quantity  %> enveloppes </p>
              <p> <strong>Poids:</strong> <%= @order.weight %></p>
            </div>
            <div class="line">
              <p>Prix La Poste: <%= humanized_money_with_symbol(@la_poste_price) %></p>
              <p style="color: #518CE4">Reduction: <%= humanized_money_with_symbol(@reduction) %></p>
            </div>
            <%= link_to "Procéder au paiement", new_pack_order_payment_path(
    @order.pack_id, @order),class: "btn   btn-cta center-block"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>