<div class="text-center dashboard_upcard">
  <h2 style=" color: #308edc">Mes economies: <%= @all_reduction %>EUR</h2>
  <hr>
</div>
<div class="body" style="background-color: #ffffff">
  <hr>
  <% @orders.each do |order| %>
    <div class="dashboard_card">
      <%= image_tag(order.pack.photo) %>
      <p><%= order.pack_sku %></p>
      <p> <%= order.created_at.strftime("%d-%m-%Y") %>    </p>
      <p> <%= order.quantity %> Enveloppes </p>
     <p> <%= order.format %> </p>
      <p> <%= order.tracking %>                   </p>
      <p> <%= order.weight %> </p>
      <p><%= order.state %></p>
      <p><%= humanized_money_with_symbol(order.price) %></p>

        <%= link_to "Payer", new_pack_order_payment_path(order.pack_id, order),class: "btn btn-cta" if order.state == 'pending' %>

      <%= link_to "Supprimer", order_path(order), :method => :delete, data: {:confirm => "Etes-vous sure?" } if order.state == 'pending' %>
    </div>
    <hr>
  <% end %>
</div>
