<%= render 'shared/banner' %>
<div class="container text-center">
  <h2> Finis la perte de temps et d’argent !</h2>
  <div class="row">
    <div class="difference">
      <div data-aos="fade-right" data-aos-offset="0"
    data-aos-delay="0"
    data-aos-duration="1500"
    data-aos-easing="ease-in"-out
    data-aos-once="false"
    data-aos-anchor-placement="top-center">
        <div class="col col-xs-12 col-sm-6  ">
          <%= image_tag("/assets/stamp.png") %>
          <h3>Differenciez-vous !    </h3>
          <p>  Nos timbres de collection,
            nous permettent de vous
            offrir le meilleur tarif. Nous
            affanchissons vos enveloppes qui en plus de leur  donnent un coté rétro qui rendront vos lettres uniques, , reduira vos couts d’envois.
            En savoir plus sur nos timbres </p>
        </div>
        <div class="col col-xs-12 col-sm-6">
          <%= image_tag("/assets/envelope.svg")  %>
        </div>
      </div>
      <div data-aos="fade-left" data-aos-offset="200"
    data-aos-delay="0"
    data-aos-duration="2000"
    data-aos-easing="ease-in-out"
    data-aos-once="false"
    data-aos-anchor-placement="top-center">
        <div class="col col-xs-12 col-sm-6">
          <%= image_tag ("/assets/time.svg")%>
        </div>
        <div class="col col-xs-12 col-sm-6">
          <div class="margin-icon">
            <%= image_tag("/assets/stopwatch.png") %>
            <h3>Finis les longues queues ! </h3>
            <p>  Gagnez du temps, finis les deplacements, les longues heures aux télephonnes pour souscrire à un contrat, les files d’attentes.
              Restez concentrez sur votre activité, nous nous occupons du reste ! </p>
          </div>
        </div>
      </div>
      <div data-aos="fade-right" data-aos-offset="400"
    data-aos-delay="0"
    data-aos-duration="2000"
    data-aos-easing="ease-in-out"
    data-aos-once="false"
    data-aos-anchor-placement="top-center">
        <div class="col col-xs-12 col-sm-6">
          <div class="margin-icon">
            <%= image_tag("/assets/coins.png") %>
            <h3>   Réduisez vos couts ! </h3>
            <p>  Finis les machines à  affranchir, les
              loyers, les tarifs exorbitants, les
              cautions. Choisissez le type d’envoi,le
              poids et béneficiez d’un tarif
              avantageux et sans  engagement
              En savoir plus sur nos tarifs </p>
          </div>
        </div>
        <div class="col col-xs-12 col-sm-6">
          <div class="margin-icon">
            <%= image_tag ("/assets/savings.svg")%>
          </div>
        </div>
      </div>
      <div data-aos="fade-left" data-aos-offset="700"
    data-aos-delay="0"
    data-aos-duration="2000"
    data-aos-easing="ease-in-out"
    data-aos-once="false"
    data-aos-anchor-placement="top-center">
        <div class="col col-xs-12 col-sm-6">
          <%= image_tag("/assets/mail_box.svg") %>
        </div>
        <div class="col col-xs-12 col-sm-6">
          <div class="margin-lasticon">
            <%= image_tag("/assets/envelope.png") %>
            <h3>    Rapide,suivi et personalisé ! </h3>
            <p>    Recevez vos packs d’enveloppes aussi vite
              que  vous les avez commandé.
              De plus, vous pouvez personaliser votre commande si vous avez vos propres
              logos,enveloppes ou tout autre demande.
              En savoir plus sur les délais </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bluewrapper">
  <h2 class="text-center titre">  Ce que nos clients disent de nous !</h2>
  <%= render 'shared/carousel' %>
</div>
<%= render 'shared/gallery' %>
<div class="wrapper text-center">
  <h2 style= "margin-bottom: 50px;"> Posez nous vos questions</h2>
  <%=     image_tag("/assets/smartphone.png") %>
  <h3>06 10 73 73 38</h3>
  <div id=email>
    <%=    image_tag("/assets/email.png",  :size => "100x100") %>
  </div>
  <h3> contact@timply.fr </h3>
</div>
<div class="bluecta text-center">
  <h2><strong>La solution n°1 pour vos courriers !
      <br>
      <span>Vous utilisez déjà Timply ? </span> </strong></h2>
  <%= link_to 'Commander', packs_path, class: " btn btn-cta-nav " %>
</div>