
<body class="banner-inscription" style="background: linear-gradient(#0052D4, #4364F7,#6FB1FC);">

<div class="flex-product3">



                    <div class="card_order text-center">
                        <div class="ordinfo">
                            <p> <%=@user.name %></p>
                <p> <%=@user.address %></p>
                 <p> <%=@user.ville %></p>
                 <p> <%=@user.codepostal %></p>
                  <p> <%=@user.phone %></p>
                <p> <%=@user.entreprise %></p>
                        </div>
                        <%= link_to "Retour admin", orders_path,class: "btn   btn-cta2 center-block"%>
                    </div>




      </div>



</body>
