<div class="banner_nostarifs" style="background-image: linear-gradient(to right top, #1460d1, #2173db, #3485e3, #4997eb, #60a9f1);">
  <div class="banner-content">
    <h2> Contactez-nous </h2>
    <h4>Pour poser une question ou nous appeler, c’est ici !

</h4>
  </div>
</div>
<div class="container flex_contact">
       <h2 style="color: #518CE4 "><strong></strong></h2>

<div class="card_inscription">
<%= simple_form_for @contact, url: {action: "create"} do |f| %>
    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>
    <div class="form-row">

    <div class="col-xs-12 col-md-6">
    <%= f.input :prenom, label: "Prénom", required: true %>
    </div>

     <div class="col-xs-12 col-md-6">
    <%= f.input :name, label: "Nom", required:true %>
      </div>


          <div class="col-xs-12 col-md-6 ">
          <%= f.input :entreprise, required: false %>
           </div>

   <div class="col-xs-12 col-md-6">
           <%= f.input :email,
                required: true,
                autofocus: true ,
                 placeholder: "mestimbres@gmail.com",
                input_html: { autocomplete: "email" }%>
      </div>

       <div class="col-xs-12 col-md-12">
       <%= f.input :message, as: :text, required: false %>
       </div>
         </div>


         <div class="form-actions">
          <%= f.submit 'Envoyer Message', class: "btn-inscription" %>
        </div>
         <% end %>
         </div>
          </div>
          <div class="container text-center">
            <div class="iconcontact">
          <div class="phoneflex">
          <div class="phoneicon">
             <%=  image_tag"phone-call.png", :size => "70x70"%>
               </div>
  <p>01 45 26 10 26 <br> 07 69 92 05 55  <br>06 64 86 88 10 </p>

 </div>

 <div class="mailflex">
    <%=    image_tag("gmail.png" ,  :size => "70x70") %>

  <p> contact@timply.fr </p>
  </div>
  </div>
</div>
<%= render'shared/footer'%>

