<div class="container">
  <div class="row">
    <div class="margin">
      <% @packs.each do |pack|  %>
        <div class="col col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <% if pack.photo.nil? %>
              <div class="card-image" style="background-image:
url(<%= image_path 'truc.png'  %>);">
              </div>
            <% else %>
              <div class="card-image" style="background-image:
url(<%= pack.photo  %>);">
              </div>
            <% end %>
            <div class="post-content">
              <div class="sub_title text-center">
                <p> <%= image_tag("/assets/stopwatch.png")%> Delivré en 3 jours
                </p>
              </div>
              <div class="sub_title2 text-center ">
                <p> <%= image_tag("/assets/coins.png")%> A partir de 0,70€
                </p>
              </div>
            </div>
            <div class=" text-center">
              <%= link_to "Details",pack_path(pack), class: " btn-card " %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>