<div class="body" style="background: linear-gradient(#0052D4, #4364F7,#6FB1FC);">
  <div class="container">
    <div class="margin">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7">
          <div class="a">
            <%= image_tag(@pack.photo)%>
            <div class="detail text-center">
              <h4 > <strong> Details </strong> </h4>
              <p>  <%= @pack.infos %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 ">
          <div class="card_form text-center">
            <div class="price">
              <h1> <%= @show_prices[0] %>€ </h1>
              <h3> <%= @show_prices[1] %>€</h3>
            </div>
            <div class="form-group decal">
              <%= simple_form_for([@pack, @order])do |f| %>
                <div class="form-row">
                  <div class="col-xs-12 col-md-9">
                    <%= f.input :category, collection: @pack.category, label: "Type d'envoi", required: true %>
                    <%= f.input :quantity, label: "Quantité", required: true %>
                    <%= f.input :weight, collection: ["20g","50g","100g", "250g", "500g", "1kg","2kg","3kg"],label: "Poids", required: true %>
                    <%= f.input :format, collection: ["DL(stantard)","C4","C5","C6"],label: "Format d'enveloppe", required: true %>
                    <%= f.input :ar, label: "AR" if @pack.title == "Recommandés"%>
                    <%= f.input :pb, label: "Papier Bulle"%>
                    <%= f.button :submit,"Recevez vos prix",class: " btn-form "%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="text-center margin2"> Nos autres produits </h1>
  <div class="container ">
    <div class="row">
      <% @packs.each do |pack| %>
        <div class="col-xs-12 col-sm-6 col-md-4
        ">
          <div class=" b ">
            <%= link_to image_tag(pack.photo), pack_path(pack)%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
